@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x0pbe2');
  src:  url('fonts/icomoon.eot?x0pbe2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x0pbe2') format('truetype'),
    url('fonts/icomoon.woff?x0pbe2') format('woff'),
    url('fonts/icomoon.svg?x0pbe2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\1f32b";
}
.icon-home:before {
  content: "\e900";
}
.icon-bug:before {
  content: "\e999";
}
.icon-paypal:before {
  content: "\ead8";
}

